@use "abstracts" as *;
// @use "components" as *;
// @use 'blocks';

body {
	touch-action: manipulation;
}

button {
	color: #585858;
}
:root {
	@each $type in $colors_neutral {
		--#{nth($type, 1)}: #{nth($type, 2)};
	}
}

* {
	box-sizing: border-box;
	font-family: "Public Sans";
}

[data-team="home"] {
	--section_color: #2f7bd5;
}
[data-team="away"] {
	--section_color: #fe3c05;
}

.score_display {
	&-- {
		&container {
			position: fixed;
			inset: 0;
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0.25rem;
			transition: 0.3s all;

			@media (orientation: portrait) {
				grid-template-columns: repeat(1, 1fr);
			}
		} //container

		&score_wrapper {
			--digits: 2;
			grid-row: 1;
			color: white;
			background-blend-mode: multiply;
			background-image: radial-gradient(
				circle,
				rgba(0, 0, 0, 0.6) 0%,
				rgba(0, 0, 0, 0) 100%
			);
			background-color: var(--section_color);
			padding: 2rem;

			@media (orientation: portrait) {
				grid-row: auto;
			}

			[data-switch="true"] &:nth-child(1) {
				grid-column: 2;
				@media (orientation: portrait) {
					grid-column: auto;
				}
			}
			[data-switch="true"] &:nth-child(2) {
				grid-column: 1;
				@media (orientation: portrait) {
					grid-column: auto;
				}
			}
		} //score_wrapper

		&score {
			padding: 2rem;
			width: 100%;
			height: 100%;
			display: flex;
			border: 1/16 * 1rem solid transparent;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: space-between;
			position: relative;

			[data-sideout="away"] [data-team="away"] & {
				border: 1/16 * 1rem solid white;
			}
			[data-sideout="home"] [data-team="home"] & {
				border: 1/16 * 1rem solid white;
			}
		}
		&name {
			font-family: "Public Sans";
			font-style: normal;
			font-weight: 700;
			font-size: 21/16 * 1rem;
			line-height: 25/16 * 1rem;
			letter-spacing: 0.07em;
			text-transform: uppercase;
		}
		&number {
			font-family: "Chivo Mono", monospace;
			font-style: normal;
			font-weight: 900;
			font-size: 25vw;
			@media (orientation: portrait) {
				font-size: 40vw;
			}
			line-height: 100%;
			// flex-grow: 1;
			&[data-digits="3"] {
				font-size: 16vw;
			}
		}
		&service {
			font-family: "Public Sans";
			font-style: normal;
			font-weight: 700;
			font-size: 14/16 * 1rem;
			line-height: 16/16 * 1rem;
			opacity: 0;
			[data-sideout="away"] [data-team="away"] & {
				opacity: 1;
			}
			[data-sideout="home"] [data-team="home"] & {
				opacity: 1;
			}
		}

		&button_overlay {
			position: absolute;
			background-color: rgba(0, 0, 0, 0.05);
			width: 100%;
			border: 0;
			outline: 0;
			height: 50%;
			left: 0;
			right: 0;
			&[data-action="up"] {
				background-color: rgba(255, 255, 255, 0.05);
				top: 0;
			}
			&[data-action="down"] {
				bottom: 0;
			}
		}
	}
}

#sideout--indicator {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	border: 0;
	display: flex;
	--background: #ffffff;
	font-size: 1.25rem;

	[data-scoring="rally"] & {
		display: none;
	}

	span {
		line-height: 2em;
		background-color: var(--background);
		padding: 0 1em;
		font-size: 1em;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		transform: 0.3s all;
	}
	&::before {
		border-top: var(--size) solid transparent;
		border-bottom: var(--size) solid transparent;
		border-right: var(--size) solid var(--background);
		[data-sideout="away"] & {
			// --size: 0em;
		}
	}
	&::after {
		--size: 1em;
		border-top: var(--size) solid transparent;
		border-bottom: var(--size) solid transparent;
		border-left: var(--size) solid var(--background);
		[data-sideout="home"] & {
			// --size: 0em;
		}
	}
}

nav {
	position: absolute;
}

.controls {
	&-- {
		&container {
			position: fixed;
			background-color: white;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 2rem;
			border-radius: 1rem 1rem 0 0;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			transition: 0.3s all;
			transform: translateY(100%);
			&[modal="open"] {
				transform: translateY(0);
				box-shadow: 0/16 * 1rem -5rem 5rem rgba(0, 0, 0, 0.5);
			}
		}
		&wrapper {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			gap: 2rem;

			@media (orientation: portrait) {
				grid-template-columns: 1fr;
			}
		}
		&side_change {
			margin-block: auto;
			border: 1/16 * 1rem solid black;
			width: 48/16 * 1rem;
			height: 48/16 * 1rem;
			background: transparent;
			border-radius: 50%;
			grid-row: 1;
			span {
				display: block;
				transform: rotate(90deg);
			}
			@media (orientation: portrait) {
				grid-row: auto;
				grid-column: auto;
				margin-inline: auto;
				display: none;
			}
		}
		&group {
			display: flex;
			flex-direction: column;
			gap: 12/16 * 1rem;
			grid-row: 1;
			@media (orientation: portrait) {
				grid-row: auto;
			}

			[data-switch="true"] ~ nav &[data-team="home"] {
				grid-column: 3;
				@media (orientation: portrait) {
					grid-column: auto;
				}
			}
			[data-switch="true"] ~ nav &[data-team="away"] {
				grid-column: 1;
				@media (orientation: portrait) {
					grid-column: auto;
				}
			}
		}
		&row {
			display: flex;
			gap: 12/16 * 1rem;
			justify-content: stretch;
			position: relative;
			input {
				height: 48/16 * 1rem;
				padding: 1rem;
				border: 1/16 * 1rem solid black;
				border-radius: 0.25rem;
				font-size: 14/16 * 1rem;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 0.07em;
				width: 100%;
			}
		}
		&color {
			width: 48/16 * 1rem;
			height: 48/16 * 1rem;
			border: 1/16 * 1rem solid black;
			border-radius: 0.25rem;
			flex-shrink: 0;
			padding: 10/16 * 1rem;
			background-color: white;
			z-index: 101;
		}
		&secondary {
			display: flex;
			gap: 1rem;
		}
	}
}

.color {
	&-- {
		&display {
			width: 100%;
			height: 100%;
			background: var(--section_color);
			position: relative;
		}
		&list {
			position: absolute;
			display: flex;
			flex-direction: column;
			background-color: white;
			padding: 1rem;
			border-radius: 0.25rem;
			border: 1/16 * 1rem solid black;
			opacity: 0;
			max-height: 0;
			overflow: scroll;
			width: 100%;
			right: 0;
			top: calc(100% + 0.5rem);
			z-index: 100;
			box-shadow: 0/16 * 1rem 4/16 * 1rem 100vh rgba(0, 0, 0, 1);
			transition: 0.3s all;

			[state="open"] & {
				opacity: 1;
				max-height: 120/16 * 1rem;
			}
			li {
				display: flex;
				gap: 1rem;
				padding-block: 0.5rem;
				font-family: "Public Sans";
				justify-content: space-between;
				&:not(:last-child) {
					border-bottom: 1/16 * 1rem solid black;
				}
				&::after {
					display: block;
					content: "";
					width: 1rem;
					height: 1rem;
					background: var(--section_color);
				}
			}
		}
	}
}

#navigation--toggle {
	background-color: white;
	border-radius: 50%;
	position: fixed;
	top: 2rem;
	left: 50%;
	transform: translate(-50%, 0);
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	transition: 0.3s all;
	font-size: 2rem;

	@media (orientation: portrait) {
		transform: translate(0%, -50%);
		top: 50%;
		left: 2rem;
	}

	span {
		font-size: inherit;
	}
	&[modal="open"] {
		padding: 0rem;

		font-size: 0rem;
	}
}

.toggle {
	&-- {
		&wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			border: 1/16 * 1rem solid black;
			border-radius: 3rem;
			padding: 3/16 * 1rem;
		}
		&option {
			padding: 7/16 * 1rem 10/16 * 1rem;
			gap: 10/16 * 1rem;
			border-radius: 100/16 * 1rem;
			font-family: "Public Sans";
			font-style: normal;
			font-weight: 500;
			font-size: 12/16 * 1rem;
			line-height: 100%;
			text-align: center;
			letter-spacing: 0.07em;
			text-transform: uppercase;
			color: #ffffff;
			grid-row: 1;
			position: relative;
			&[data-label="sideout"] {
				grid-column: 1;
				[data-scoring="rally"] & {
					color: black;
				}
			}
			&[data-label="rally"] {
				grid-column: 2;
				color: black;
				[data-scoring="rally"] & {
					color: white;
				}
			}
		}
		&indicator {
			width: 100%;
			height: 100%;
			background-color: black;
			grid-column: 1;
			grid-row: 1;
			border-radius: 100/16 * 1rem;
			position: relative;
			[data-scoring="rally"] & {
				transform: translateX(100%);
			}
		}
	}
}

.button {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10/16 * 1rem 20/16 * 1rem;
	gap: 10/16 * 1rem;
	border: 1/16 * 1rem solid #000000;
	border-radius: 50/16 * 1rem;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 500;
	font-size: 14/16 * 1rem;
	line-height: 100%;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	background-color: transparent;
	color: #000000;
}
