body {
  touch-action: manipulation;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;
}
.wrapper article {
  width: 100%;
  height: 100%;
  background: var(--background_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper article button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
}
.wrapper article button.down {
  top: auto;
  bottom: 0;
}

#teamHome {
  --background_color: radial-gradient(
    circle,
    rgba(106, 20, 22, 1) 0%,
    rgba(251, 29, 29, 1) 100%
  );
}

#teamAway {
  --background_color: radial-gradient(
    circle,
    rgba(22, 20, 86, 1) 0%,
    rgba(29, 29, 211, 1) 100%
  );
}

#reset {
  box-sizing: content-box;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.25rem solid rgba(255, 255, 255, 0.5);
  background-color: #e1e1e1;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#reset img {
  width: 100%;
  opacity: 0.6;
  display: block;
}

h1 {
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  font-size: 70vh;
  color: #fff;
}

h2 {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media screen and (orientation: portrait) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .wrapper article button.down {
    top: auto;
    bottom: 0;
  }

  h1 {
    font-family: "Public Sans", sans-serif;
    font-weight: 800;
    font-size: 35vh;
    color: #fff;
  }

  h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  #reset {
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
}
#controls {
  position: fixed;
  inset: 1rem;
  display: flex;
  height: 100px;
  width: 100px;
  background-color: red;
}