body {
 touch-action: manipulation;
}

main.flipped {
 transform: rotate(180deg);
}

:root {
 --white: rgb(255, 255, 255);
 --grey-100: rgb(249, 249, 249);
 --grey-200: rgb(235, 235, 235);
 --grey-300: rgb(217, 217, 217);
 --grey-400: rgb(196, 196, 196);
 --grey-500: #f9f9f9;
 --grey-600: rgb(151, 151, 151);
 --grey-700: rgb(118, 118, 118);
 --grey-800: rgb(66, 66, 66);
 --grey-900: rgb(35, 31, 32);
 --black: rgb(0, 0, 0);
}

* {
 box-sizing: border-box;
 font-family: "Public Sans";
}

[data-team=home] {
 --section_color: #2f7bd5;
}

[data-team=away] {
 --section_color: #fe3c05;
}

.score_display--container {
 position: fixed;
 inset: 0;
 width: 100%;
 height: 100%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 0.25rem;
 transition: 0.3s all;
}
.score_display--score_wrapper {
 --digits: 2;
 grid-row: 1;
 color: white;
 background-blend-mode: multiply;
 background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
 background-color: var(--section_color);
 padding: 2rem;
}
[data-switch=true] .score_display--score_wrapper:nth-child(1) {
 grid-column: 2;
}
[data-switch=true] .score_display--score_wrapper:nth-child(2) {
 grid-column: 1;
}
.score_display--score {
 padding: 2rem;
 width: 100%;
 height: 100%;
 display: flex;
 border: 1px solid transparent;
 flex-direction: column;
 align-items: center;
 text-align: center;
 justify-content: space-between;
 position: relative;
}
[data-sideout=away] [data-team=away] .score_display--score {
 border: 1px solid white;
}
[data-sideout=home] [data-team=home] .score_display--score {
 border: 1px solid white;
}
.score_display--name {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 700;
 font-size: 1.3125rem;
 line-height: 1.5625rem;
 letter-spacing: 0.07em;
 text-transform: uppercase;
}
.score_display--number {
 font-family: "Chivo Mono", monospace;
 font-style: normal;
 font-weight: 900;
 font-size: 25vw;
 line-height: 100%;
}
.score_display--number[data-digits="3"] {
 font-size: 16vw;
}
.score_display--service {
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 700;
 font-size: 0.875rem;
 line-height: 1rem;
 opacity: 0;
}
[data-sideout=away] [data-team=away] .score_display--service {
 opacity: 1;
}
[data-sideout=home] [data-team=home] .score_display--service {
 opacity: 1;
}
.score_display--button_overlay {
 position: absolute;
 background-color: rgba(0, 0, 0, 0.05);
 width: 100%;
 border: 0;
 outline: 0;
 height: 50%;
 left: 0;
 right: 0;
}
.score_display--button_overlay[data-action=up] {
 background-color: rgba(255, 255, 255, 0.05);
 top: 0;
}
.score_display--button_overlay[data-action=down] {
 bottom: 0;
}

#sideout--indicator {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: transparent;
 border: 0;
 display: flex;
 --background: #ffffff;
 --size: 1em;
}
[data-scoring=rally] #sideout--indicator {
 display: none;
}
#sideout--indicator span {
 line-height: 2em;
 background-color: var(--background);
 padding: 0 1em;
 font-size: 1em;
}
#sideout--indicator::before, #sideout--indicator::after {
 content: "";
 display: block;
 width: 0;
 height: 0;
 transform: 0.3s all;
}
#sideout--indicator::before {
 border-top: var(--size) solid transparent;
 border-bottom: var(--size) solid transparent;
 border-right: var(--size) solid var(--background);
}
#sideout--indicator::after {
 --size: 1em;
 border-top: var(--size) solid transparent;
 border-bottom: var(--size) solid transparent;
 border-left: var(--size) solid var(--background);
}
nav {
 position: absolute;
}

.controls--container {
 position: fixed;
 background-color: white;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 2rem;
 border-radius: 1rem 1rem 0 0;
 display: flex;
 flex-direction: column;
 gap: 20px;
 transition: 0.3s all;
 transform: translateY(100%);
}
.controls--container[modal=open] {
 transform: translateY(0);
 box-shadow: 0px -5rem 5rem rgba(0, 0, 0, 0.5);
}
.controls--wrapper {
 display: grid;
 grid-template-columns: 1fr auto 1fr;
 gap: 2rem;
}
.controls--side_change {
 margin-block: auto;
 border: 1px solid black;
 width: 3rem;
 height: 3rem;
 background: transparent;
 border-radius: 50%;
 grid-row: 1;
}
.controls--side_change span {
 display: block;
}
.controls--group {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
 grid-row: 1;
}
[data-switch=true] ~ nav .controls--group[data-team=home] {
 grid-column: 3;
}
[data-switch=true] ~ nav .controls--group[data-team=away] {
 grid-column: 1;
}
.controls--row {
 display: flex;
 gap: 0.75rem;
 justify-content: stretch;
 position: relative;
}
.controls--row input {
 height: 3rem;
 padding: 1rem;
 border: 1px solid black;
 border-radius: 0.25rem;
 font-size: 0.875rem;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 0.07em;
 width: 100%;
}
.controls--color {
 width: 3rem;
 height: 3rem;
 border: 1px solid black;
 border-radius: 0.25rem;
 flex-shrink: 0;
 padding: 0.625rem;
 background-color: white;
 z-index: 101;
}
.controls--secondary {
 display: flex;
 gap: 1rem;
}

.color--display {
 width: 100%;
 height: 100%;
 background: var(--section_color);
 position: relative;
}
.color--list {
 position: absolute;
 display: flex;
 flex-direction: column;
 background-color: white;
 padding: 1rem;
 border-radius: 0.25rem;
 border: 1px solid black;
 opacity: 0;
 max-height: 0;
 overflow: scroll;
 width: 100%;
 right: 0;
 top: calc(100% + 0.5rem);
 z-index: 100;
 box-shadow: 0px 4px 100vh rgb(0, 0, 0);
 transition: 0.3s all;
}
[state=open] .color--list {
 opacity: 1;
 max-height: 7.5rem;
}
.color--list li {
 display: flex;
 gap: 1rem;
 padding-block: 0.5rem;
 font-family: "Public Sans";
 justify-content: space-between;
}
.color--list li:not(:last-child) {
 border-bottom: 1px solid black;
}
.color--list li::after {
 display: block;
 content: "";
 width: 1rem;
 height: 1rem;
 background: var(--section_color);
}

#navigation--toggle {
 background-color: white;
 border-radius: 50%;
 position: fixed;
 top: 2rem;
 left: 50%;
 transform: translate(-50%, 0);
 border: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0.5rem;
 transition: 0.3s all;
 font-size: 2rem;
}
#navigation--toggle span {
 font-size: inherit;
}
#navigation--toggle[modal=open] {
 padding: 0rem;
 font-size: 0rem;
}

.toggle--wrapper {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 border: 1px solid black;
 border-radius: 3rem;
 padding: 3px;
}
.toggle--option {
 padding: 7px 10px;
 gap: 10px;
 border-radius: 100px;
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 500;
 font-size: 12px;
 line-height: 100%;
 text-align: center;
 letter-spacing: 0.07em;
 text-transform: uppercase;
 color: #ffffff;
 grid-row: 1;
 position: relative;
}
.toggle--option[data-label=sideout] {
 grid-column: 1;
}
[data-scoring=rally] .toggle--option[data-label=sideout] {
 color: black;
}
.toggle--option[data-label=rally] {
 grid-column: 2;
 color: black;
}
[data-scoring=rally] .toggle--option[data-label=rally] {
 color: white;
}
.toggle--indicator {
 width: 100%;
 height: 100%;
 background-color: black;
 grid-column: 1;
 grid-row: 1;
 border-radius: 100px;
 position: relative;
}
[data-scoring=rally] .toggle--indicator {
 transform: translateX(100%);
}

.button {
 box-sizing: border-box;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 padding: 10px 20px;
 gap: 10px;
 border: 1px solid #000000;
 border-radius: 50px;
 font-family: "Public Sans";
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 100%;
 letter-spacing: 0.07em;
 text-transform: uppercase;
 background-color: transparent;
 color: #000000;
}