//colors
$color_white: rgba(255, 255, 255, 1);
$color_grey-100: rgba(249, 249, 249, 1);
$color_grey-200: rgba(235, 235, 235, 1);
$color_grey-300: rgba(217, 217, 217, 1);
$color_grey-400: rgba(196, 196, 196, 1);
$color_grey-500: #f9f9f9;
$color_grey-600: rgba(151, 151, 151, 1);
$color_grey-700: rgba(118, 118, 118, 1);
$color_grey-800: rgba(66, 66, 66, 1);
$color_grey-900: rgba(35, 31, 32, 1);
$color_black: rgba(0, 0, 0, 1);

$color_blue: rgba(0, 102, 235, 1);
$color_gold: rgba(235, 185, 0, 1);
$color_red: rgba(235, 70, 0, 1);
$color_green: rgba(0, 205, 113, 1);

$colors_full: (
  //   //name                   $main variable        $text color
  "blue" $color_blue $color_black,
  "gold" $color_gold $color_black,
  "red" $color_red $color_black,
  "green" $color_green $color_black
);

// color.adjust($color_grey-100, $alpha:-.75);

@each $type in $colors_full {
  label[for="#{nth($type, 1)}"] {
    --thisColor: #{nth($type, 2)};
  }
}

$sans: "Public Sans", sans-serif;

:root {
  --offWhite: rgb(245, 245, 245);
}

.home {
  --section_color: rgba(251, 29, 29, 1);
}

.away {
  --section_color: rgba(29, 29, 211, 1);
}

body {
  touch-action: manipulation;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;

  article {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background-color: var(--section_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    --digits: 2;

    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: rgb(0, 0, 0, 0);
      border: 0;
      outline: 0;
      &.down {
        top: auto;
        bottom: 0;
      }
    }
  }
}

#teamHome {
  --background_color: radial-gradient(
    circle,
    rgba(106, 20, 22, 1) 0%,
    rgba(251, 29, 29, 1) 100%
  );
}

#teamAway {
  --background_color: radial-gradient(
    circle,
    rgba(22, 20, 86, 1) 0%,
    rgba(29, 29, 211, 1) 100%
  );
}

#reset {
  box-sizing: border-box;
  border: 0.0625rem solid rgb(0, 0, 0, 1);
  background-color: rgb(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 0.75rem 2rem;
  margin: 0 0 auto auto;
  color: #fff;
  font-size: 1.5rem;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 25px;
}

h1 {
  font-family: $sans;
  font-weight: 800;
  font-size: calc(140vh / var(--digits));
  color: #fff;
}

h2 {
  font-family: $sans;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media screen and (orientation: portrait) {
  .wrapper {
    grid-template-columns: 1fr;

    article {
      button {
        &.down {
          top: auto;
          bottom: 0;
        }
      }
    }
  }

  h1 {
    font-family: $sans;
    font-weight: 800;
    font-size: 35vh;
    color: #fff;
    font-size: calc(70vh / var(--digits));
  }

  h2 {
    font-family: $sans;
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  #reset {
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);

    img {
    }
  }
}

#controls {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--offWhite);
  border-radius: 1rem;
  margin: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  gap: 2rem;

  .team_settings {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;

    input {
      box-sizing: border-box;
      font-size: 1.125rem;
      line-height: 1;
      font-weight: 500;
      display: block;

      margin: 0;
      padding: 0;

      border: 1px solid rgb(0, 0, 0);
      border-radius: 1.5rem;
      padding: 0.75rem 1.5rem;

      &[type="text"] {
        grid-column: span 2;
        width: 100%;
      }
      &[type="number"] {
        --placeholder: value;
        width: 100%;
      }
    }
    .color_container {
      box-sizing: border-box;
      width: 3rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px solid rgb(0, 0, 0);
      padding: 0.25rem;
      .color_dot {
        box-sizing: border-box;
        background-color: var(--section_color);
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;

        @each $type in $colors_full {
          &.#{nth($type, 1)} {
            --section_color: #{nth($type, 2)};
          }
        }
      }
      .color_list {
        position: absolute;
        width: 100%;
        left: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0.5rem 2rem 0 rgb(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        padding: 1rem;

        li {
          border-bottom: 1px solid rgb(225, 225, 225);
          padding: 0.25rem 0;
          display: flex;
          justify-content: space-between;
          font-size: 1rem;
          width: 100%;
          gap: 1rem;
          input[mask-type="radio"] {
          }
          label {
            font-family: $sans;
            display: flex;
            justify-content: space-between;
            width: 100%;
            &::after {
              content: "";
              width: 2rem;
              height: 1rem;
              display: block;
              background-color: var(--thisColor);
              border: 1px solid rgb(125, 125, 125);
            }
          }
        }
      }
    }
  } //teamsettings
  .reset_area {
    display: block;
  }
}

// #controls {
//   position: fixed;
//   max-height: 0;
//   inset: 1.5rem;
//   display: flex;
//   border-radius: 0.25rem;
//   background: #f4f4f4;
//   border: 0px solid #fff;
//   box-shadow: 0 1rem 3rem 3rem rgb(0, 0, 0, 0.25);
//   overflow: hidden;
//   transition: 0.3s;
//   * {
//     transition: 0.3s;
//   }
//   &.navOpen {
//     max-height: 100%;
//     border: 1px solid #fff;
//   }
//   input {
//     font-size: 1rem;
//   }

//   #scoreControls {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-gap: 2rem;
//     padding: 2rem;
//   }

//   input[type="text"],
//   input[type="color"] {
//     display: none;
//   }

//   input[type="number"] {
//     width: 10rem;
//     padding: 0.75rem 1.5rem;
//     background: transparent;
//     outline: none;
//     border: 0.0625rem solid #000;
//     font-size: 1.5rem;
//     border-radius: 26px;
//   }
// }

// #navToggle {
//   position: fixed;
//   left: 50%;
//   transform: translate(-50%, calc(-50% + 1.5rem));
//   top: 0rem;
//   width: 3.75rem;
//   background: #efefef;
//   border: 1px solid #ffffff;
//   box-sizing: border-box;
//   border-radius: 1rem;
//   box-shadow: 0 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.25);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   box-sizing: content-box;
//   padding: 0.35rem 0.5rem;
//   font-size: 0.625rem;
//   color: #696969;

//   transition: 0.3s all;
//   * {
//     transition: 0.3s all;
//   }
//   span {
//     display: block;
//     overflow: hidden;
//   }

//   svg {
//     display: block;
//     min-height: 0.375rem;
//     transform: rotate(180deg);
//     * {
//       fill: currentColor;
//     }
//   }
//   span:last-child {
//     max-height: 0;
//   }
//   span:first-child {
//     max-height: 1rem;
//   }
//   &.navOpen {
//     top: 100%;
//     transform: translate(-50%, calc(-50% - 1.5rem));
//     svg {
//       transform: rotate(0);
//     }
//     span:first-child {
//       max-height: 0;
//     }
//     span:last-child {
//       max-height: 1rem;
//     }
//   }
// }
