// reset button

#reset {
    box-sizing: border-box;
    border: 0.0625rem solid rgb(0, 0, 0, 1);
    background-color: rgb(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 0.75rem 2rem;
    margin: 0 0 auto auto;
    color: #fff;
    font-size: 1.5rem;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 25px;
  }
  



//nav open/close button



#navToggle {
  --size_button: 3rem;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: var(--size_button);
  height: var(--size_button);
  border-radius: 50%;
  border: var(--white);
  background: var(--grey-100);
  box-shadow: 0 0.5rem 0.5rem 0rem rgb(0, 0, 0, 0.15);
  transition: 0.3s all;
  *{
    transition: 0.3s all;
  }

  span {
    --size_dots: 12.5%;
    --gap: 12.5%;
    display: block;
    width: var(--size_dots);
    height: var(--size_dots);
    border-radius: 50%;
    background: var(--grey-400);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:nth-child(1) {
      left:calc(50% - var(--size_dots) - var(--gap));
    }
    &:nth-child(2) {
      transform:  translate(-50%, -50%) rotate(45deg);
      &::before, &:after{
        display: block;
        content: "";
        position: absolute;
        width:100%;
        height: 100%;
        background: inherit;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%/50%;
        transition: 0.3s .3s all;
      }
      &:after{
        height:100%;
        width: 100%;
        border-radius: 50%/calc(50%/1);
      }
    }
    &:nth-child(3) {
      left:calc(50% + var(--size_dots) + var(--gap));
    }
  }

  .navOpen + & {
    top: calc(100% - 1rem);
    transform: translate(-50%, -100%);

    span{
      &:nth-child(1) {
        left:calc(50%);
      }
      &:nth-child(2) {
        &::before{
          width:400%;
          border-radius:12.5%/50%;
          
        }
        &:after{
          height:400%;
          border-radius: 50%/12.5%;
          
        }
      }
      &:nth-child(3) {
        left:calc(50%);
      }
    }
  }
}