@use '../abstracts' as *;

.modal_box{
    border-radius: 1rem;
    margin: 1.5rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    gap: 2rem;

    background-color: var(--white);
    border: 2px solid var(--grey-100);

    .team_settings {
        position: relative;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem;

        input[type="text"] {
            grid-column: span 2;
          }
    }
}