@use '../abstracts' as *;

html, *{
	font-family: $sans_font;
}

h1{
    font-family: $sans_font;
    font-weight: 800;
    font-size: calc(140vh / var(--digits));
    color: var(--white);

    @include vertical() {
        font-size: calc(80vh / var(--digits));
      }
}

h2{
    font-family: $sans_font;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}