@use "../abstracts" as *;

html,
* {
  font-family: $sans_font;
}

h1 {
  font-family: $sans_font;
  font-weight: 800;
  font-size: calc(55vw / var(--digits));
  color: var(--white);

  @include vertical() {
    font-size: calc(100vw / var(--digits));
  }
}

h2 {
  font-family: $sans_font;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
