@import '../abstracts';


//================================================
// Hero Basic
//================================================

.hero--basic {

	margin-top: 3rem;
	height: 70vh;
	max-height: 28rem;
	min-height: 50vh;

	@include md() {
		margin-top: 5rem;
		max-height: none;
		height: auto;
		min-height: auto;
	}

	.image_area{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	.text_area{
		top: var(--y_position);
		position: relative;
	}


}//hero--basic


